.App {
    text-align: center;
    width: 100vh;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .control-container {
            display: flex;
            gap: 20px;
            .length-control {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .btn-container {
                    display: flex;
                    gap: 20px;
                }
            }
        }
        .timer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 2px solid red;
            padding: 10px;
            .timer-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
        .timer-control {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }
}
